<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @spouse.fullname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @spouse.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @spouse.gender %>
</p>

<p>
  <strong>Child:</strong>
  <%= @spouse.child_id %>
</p>

<%= link_to 'Edit', edit_spouse_path(@spouse) %> |
<%= link_to 'Back', spouses_path %>
